<%- include("header");  -%>

    <div class="box" id="heading">
     <h1 >  <%= listTitle %> !!</h1>
    </div>


    <div class="box">
        <% newlistitem.forEach(function(item){ %>
            <form action="/lists/delete" method="post">
            <div class="item"> 
                                    <!-- here we make a loop so that we can print all the items in the lists -->
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
            <p> <%= item.name %> </p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% }) %>


    
    

    <form action="/" class="item" method="post">
        <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>


<%- include("footer"); -%>




